Source: https://towardsdatascience.com/pyspark-on-google-colab-101-d31830b238be

# PySpark on Google Colab 101

In this article, we will see how we can run PySpark in a Google Colaboratory notebook. We will also perform some basic data exploratory tasks common to most data science problems. So, let’s get cracking!

In [100]:
!apt-get install openjdk-8-jdk-headless -qq > /dev/null

In [101]:
!wget https://archive.apache.org/dist/spark/spark-3.2.4/spark-3.2.4-bin-hadoop2.7.tgz

--2023-12-09 02:04:45--  https://archive.apache.org/dist/spark/spark-3.2.4/spark-3.2.4-bin-hadoop2.7.tgz
Resolving archive.apache.org (archive.apache.org)... 65.108.204.189, 2a01:4f9:1a:a084::2
Connecting to archive.apache.org (archive.apache.org)|65.108.204.189|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 272938638 (260M) [application/x-gzip]
Saving to: ‘spark-3.2.4-bin-hadoop2.7.tgz.3’

spark-3.2.4-bin-had 100%[===================>] 260.29M  18.8MB/s    in 18s

2023-12-09 02:05:03 (14.6 MB/s) - ‘spark-3.2.4-bin-hadoop2.7.tgz.3’ saved [272938638/272938638]

In [102]:
!tar xf spark-3.2.4-bin-hadoop2.7.tgz

In [103]:
!pip install -q findspark

In [104]:
import os
os.environ["JAVA_HOME"] = "/usr/lib/jvm/java-8-openjdk-amd64"
os.environ["SPARK_HOME"] = "/content/spark-3.2.4-bin-hadoop2.7"

In [105]:
import findspark
findspark.init()

In [106]:
from pyspark.sql import SparkSession
# spark = SparkSession.builder.master("local[*]").getOrCreate()
spark = SparkSession.builder\
        .master("local")\
        .appName("Colab")\
        .config('spark.ui.port', '4050')\
        .getOrCreate()

In [107]:
spark

In [108]:
!wget --continue https://raw.githubusercontent.com/GarvitArya/pyspark-demo/main/sample_books.json -O /content/sample_books.json

--2023-12-09 02:05:14--  https://raw.githubusercontent.com/GarvitArya/pyspark-demo/main/sample_books.json
Resolving raw.githubusercontent.com (raw.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to raw.githubusercontent.com (raw.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 416 Range Not Satisfiable

    The file is already fully retrieved; nothing to do.

In [109]:
!wget https://gist.githubusercontent.com/jaidevd/23aef12e9bf56c618c41/raw/c05e98672b8d52fa0cb94aad80f75eb78342e5d4/books.csv

--2023-12-09 02:05:14--  https://gist.githubusercontent.com/jaidevd/23aef12e9bf56c618c41/raw/c05e98672b8d52fa0cb94aad80f75eb78342e5d4/books.csv
Resolving gist.githubusercontent.com (gist.githubusercontent.com)... 185.199.108.133, 185.199.109.133, 185.199.110.133, ...
Connecting to gist.githubusercontent.com (gist.githubusercontent.com)|185.199.108.133|:443... connected.
HTTP request sent, awaiting response... 200 OK
Length: 12151 (12K) [text/plain]
Saving to: ‘books.csv.3’

books.csv.3         100%[===================>]  11.87K  --.-KB/s    in 0s

2023-12-09 02:05:14 (148 MB/s) - ‘books.csv.3’ saved [12151/12151]

In [110]:

# Read JSON file into dataframe
df = spark.read.json("/content/sample_books.json")

In [111]:
df.printSchema()

root
 |-- author: string (nullable = true)
 |-- edition: string (nullable = true)
 |-- price: double (nullable = true)
 |-- title: string (nullable = true)
 |-- year_written: long (nullable = true)

In [112]:
df.show(20,False)

+--------------------+-----------------+-----+-----------------------------+------------+
|author              |edition          |price|title                        |year_written|
+--------------------+-----------------+-----+-----------------------------+------------+
|Austen, Jane        |Penguin          |18.2 |Northanger Abbey             |1814        |
|Tolstoy, Leo        |Penguin          |12.7 |War and Peace                |1865        |
|Tolstoy, Leo        |Penguin          |13.5 |Anna Karenina                |1875        |
|Woolf, Virginia     |Harcourt Brace   |25.0 |Mrs. Dalloway                |1925        |
|Cunnningham, Michael|Harcourt Brace   |12.35|The Hours                    |1999        |
|Twain, Mark         |Penguin          |5.76 |Huckleberry Finn             |1865        |
|Dickens, Charles    |Random House     |5.75 |Bleak House                  |1870        |
|Twain, Mark         |Random House     |7.75 |Tom Sawyer                   |1862        |
|Woolf, Virginia     |Penguin          |29.0 |A Room of One's Own          |1922        |
|Rowling, J.K.       |Harcourt Brace   |19.95|Harry Potter                 |2000        |
|Marquez             |Harper  Perennial|14.0 |One Hundred Years of Solitude|1967        |
|Shakespeare         |Signet  Classics |7.95 |Hamlet, Prince of Denmark    |1603        |
|Tolkien, J.R.       |Penguin          |27.45|Lord of the Rings            |1937        |
+--------------------+-----------------+-----+-----------------------------+------------+

In [113]:
df.count()

13

In [114]:
df.select("title", "price", "year_written").show(5)

+----------------+-----+------------+
|           title|price|year_written|
+----------------+-----+------------+
|Northanger Abbey| 18.2|        1814|
|   War and Peace| 12.7|        1865|
|   Anna Karenina| 13.5|        1875|
|   Mrs. Dalloway| 25.0|        1925|
|       The Hours|12.35|        1999|
+----------------+-----+------------+
only showing top 5 rows

In [115]:
df_filtered = df.filter("year_written > 1950 AND price > 10 AND title IS NOT NULL")

In [116]:
df_filtered.select("title", "price", "year_written").show(5, False)

+-----------------------------+-----+------------+
|title                        |price|year_written|
+-----------------------------+-----+------------+
|The Hours                    |12.35|1999        |
|Harry Potter                 |19.95|2000        |
|One Hundred Years of Solitude|14.0 |1967        |
+-----------------------------+-----+------------+

In [117]:
df_filtered.count()

3

In [118]:
df_filtered.show(20, False)

+--------------------+-----------------+-----+-----------------------------+------------+
|author              |edition          |price|title                        |year_written|
+--------------------+-----------------+-----+-----------------------------+------------+
|Cunnningham, Michael|Harcourt Brace   |12.35|The Hours                    |1999        |
|Rowling, J.K.       |Harcourt Brace   |19.95|Harry Potter                 |2000        |
|Marquez             |Harper  Perennial|14.0 |One Hundred Years of Solitude|1967        |
+--------------------+-----------------+-----+-----------------------------+------------+

In [119]:
df_filtered.select("title", "year_written").filter("title LIKE '%Harry Potter%'").distinct().show(20, False)

+------------+------------+
|title       |year_written|
+------------+------------+
|Harry Potter|2000        |
+------------+------------+

In [120]:
from pyspark.sql.functions import max
# Find the costliest book

maxValue = df_filtered.agg(max("price")).collect()[0][0]
print("maxValue: ",maxValue)
df_filtered.select("title","price").filter(df.price == maxValue).show(20, False)

maxValue:  19.95
+------------+-----+
|title       |price|
+------------+-----+
|Harry Potter|19.95|
+------------+-----+

In [121]:
# Read csv file into dataframe for Project#12
df2 = spark.read.option("header", True).csv("/content/books.csv")

In [122]:
df2.printSchema()

root
 |-- Title: string (nullable = true)
 |-- Author: string (nullable = true)
 |-- Genre: string (nullable = true)
 |-- Height: string (nullable = true)
 |-- Publisher: string (nullable = true)

In [123]:
df2.show(5,truncate=False)

+------------------------+----------------+-----------------+------+-------------+
|Title                   |Author          |Genre            |Height|Publisher    |
+------------------------+----------------+-----------------+------+-------------+
|Fundamentals of Wavelets|Goswami, Jaideva|signal_processing|228   |Wiley        |
|Data Smart              |Foreman, John   |data_science     |235   |Wiley        |
|God Created the Integers|Hawking, Stephen|mathematics      |197   |Penguin      |
|Superfreakonomics       |Dubner, Stephen |economics        |179   |HarperCollins|
|Orientalism             |Said, Edward    |history          |197   |Penguin      |
+------------------------+----------------+-----------------+------+-------------+
only showing top 5 rows

In [124]:
print("Column Names:", df2.columns)

Column Names: ['Title', 'Author', 'Genre', 'Height', 'Publisher']

In [125]:
df2.count()

211

In [126]:
# a. Find all books published by Penguin.
penguin_books = df2.filter(col("Publisher") == "Penguin")
penguin_books.show()

+--------------------+------------------+------------+------+---------+
|               Title|            Author|       Genre|Height|Publisher|
+--------------------+------------------+------------+------+---------+
|God Created the I...|  Hawking, Stephen| mathematics|   197|  Penguin|
|         Orientalism|      Said, Edward|     history|   197|  Penguin|
|Drunkard's Walk, The| Mlodinow, Leonard|     science|   197|  Penguin|
|How to Think Like...|  Konnikova, Maria|  psychology|   240|  Penguin|
|   Age of Wrath, The|    Eraly, Abraham|     history|   238|  Penguin|
|New Machiavelli, The|      Wells, H. G.|     fiction|   180|  Penguin|
|Physics & Philosophy|Heisenberg, Werner|     science|   197|  Penguin|
|Signal and the No...|      Silver, Nate|data_science|   233|  Penguin|
|Beautiful and the...|   Deb, Siddhartha|  nonfiction|   198|  Penguin|
|       Outsider, The|     Camus, Albert|     fiction|   198|  Penguin|
| Tao of Physics, The|    Capra, Fritjof|     science|   179|  Penguin|
|Return of the Pri...|         Rand, Ayn|  philosophy|   202|  Penguin|
|  Russian Journal, A|   Steinbeck, John|  nonfiction|   196|  Penguin|
|        Freakonomics|   Dubner, Stephen|   economics|   197|  Penguin|
|  Journal of a Novel|   Steinbeck, John|     fiction|   196|  Penguin|
|Once There Was a War|   Steinbeck, John|  nonfiction|   196|  Penguin|
|   Moon is Down, The|   Steinbeck, John|     fiction|   196|  Penguin|
|Crime and Punishment|Dostoevsky, Fyodor|     fiction|   180|  Penguin|
|      Sea of Poppies|     Ghosh, Amitav|     fiction|   197|  Penguin|
|Idea of Justice, The|      Sen, Amartya|  nonfiction|   212|  Penguin|
+--------------------+------------------+------------+------+---------+
only showing top 20 rows

In [127]:
# b. Find 10 longest book titles.
from pyspark.sql.functions import col, length

# Find 10 longest book titles
longest_titles = df2.orderBy(length("title").desc()).limit(10)
longest_titles.show()

+--------------------+------------------+-----------------+------+--------------+
|               Title|            Author|            Genre|Height|     Publisher|
+--------------------+------------------+-----------------+------+--------------+
|Clash of Civiliza...|Huntington, Samuel|          history|   228|Simon&Schuster|
|Structure & Inter...|   Sussman, Gerald| computer_science|   240|     MIT Press|
|Empire of the Mug...|  Rutherford, Alex|          history|   180|          null|
|Nature of Statist...|  Vapnik, Vladimir|     data_science|   230|      Springer|
|Empire of the Mug...|  Rutherford, Alex|          history|   180|          null|
|Image Processing ...|       Shih, Frank|signal_processing|   241|           CRC|
|Empire of the Mug...|  Rutherford, Alex|          history|   180|          null|
|Empire of the Mug...|  Rutherford, Alex|          history|   180|          null|
|Maugham's Collect...|Maugham, William S|          fiction|   171|       Vintage|
|Zen & The Art of ...|    Pirsig, Robert|       philosophy|   172|       Vintage|
+--------------------+------------------+-----------------+------+--------------+

In [128]:
from pyspark.sql.functions import col, desc

# c. Find the author with the greatest number of books
author_counts = df2.groupBy("author").count().orderBy(desc("count"))

# Check if there are any authors with counts
if author_counts.count() > 0:
    author_with_most_books = author_counts.first()["author"]

    # Filter books by the author with the greatest number of books
    books_by_author = df2.filter(col("author") == author_with_most_books)
    books_by_author.show()
else:
    print("No data available.")

+-----+------+-----+------+---------+
|Title|Author|Genre|Height|Publisher|
+-----+------+-----+------+---------+
+-----+------+-----+------+---------+

In [129]:

# d. Find books included in the genre with the greatest number of books.
genre_with_most_books = df2.groupBy("genre").count().orderBy(desc("count")).first()["genre"]
books_in_genre = df2.filter(col("genre") == genre_with_most_books)
books_in_genre.show()

+--------------------+-------------------+-------+------+-------------+
|               Title|             Author|  Genre|Height|    Publisher|
+--------------------+-------------------+-------+------+-------------+
| Slaughterhouse Five|     Vonnegut, Kurt|fiction|   198| Random House|
|          Trial, The|       Kafka, Frank|fiction|   198| Random House|
|New Machiavelli, The|       Wells, H. G.|fiction|   180|      Penguin|
|       Outsider, The|      Camus, Albert|fiction|   198|      Penguin|
|Complete Sherlock...|Doyle, Arthur Conan|fiction|   176| Random House|
|Complete Sherlock...|Doyle, Arthur Conan|fiction|   176| Random House|
|Pillars of the Ea...|       Follett, Ken|fiction|   176| Random House|
| Farewell to Arms, A|  Hemingway, Ernest|fiction|   179|         Rupa|
|        Veteran, The| Forsyth, Frederick|fiction|   177|   Transworld|
|   False Impressions|    Archer, Jeffery|fiction|   177|          Pan|
|       Jurassic Park|  Crichton, Michael|fiction|   174| Random House|
|Tales of Mystery ...|   Poe, Edgar Allen|fiction|   172|HarperCollins|
|         Asami Asami|     Deshpande, P L|fiction|   205|         Mauj|
|  Journal of a Novel|    Steinbeck, John|fiction|   196|      Penguin|
|   Moon is Down, The|    Steinbeck, John|fiction|   196|      Penguin|
|       Brethren, The|      Grisham, John|fiction|   174| Random House|
|     In a Free State|     Naipaul, V. S.|fiction|   196|         Rupa|
|            Catch 22|     Heller, Joseph|fiction|   178| Random House|
|Amulet of Samarka...|   Stroud, Jonathan|fiction|   179| Random House|
|Crime and Punishment| Dostoevsky, Fyodor|fiction|   180|      Penguin|
+--------------------+-------------------+-------+------+-------------+
only showing top 20 rows

In [130]:
# e. Find all records with at least one of five columns that has null in it.
from pyspark.sql.functions import col

# Find all records with at least one null value in the specified columns
records_with_null = df2.filter(col("height").isNull() | col("title").isNull() | col("author").isNull() | col("publisher").isNull() | col("genre").isNull())
records_with_null.show()

+--------------------+--------------------+----------+------+-------------+
|               Title|              Author|     Genre|Height|    Publisher|
+--------------------+--------------------+----------+------+-------------+
|      Beyond Degrees|                null|nonfiction|   222|HarperCollins|
|World's Greatest ...|                null|   history|   210|         null|
|Case of the Lame ...|Gardner, Earle St...|   fiction|   179|         null|
|World's Greatest ...|                null|   fiction|   217|        Jaico|
|    Talking Straight|         Iacoca, Lee|nonfiction|   175|         null|
|Phantom of Manhat...|  Forsyth, Frederick|   fiction|   180|         null|
|Selected Short St...|                null|   fiction|   215|        Jaico|
| Karl Marx Biography|                null|nonfiction|   162|         null|
|         Half A Life|        Naipaul, V S|   fiction|   196|         null|
|Discovery of Indi...|   Nehru, Jawaharlal|   history|   230|         null|
|              Apulki|      Deshpande, P L|nonfiction|   211|         null|
|    Unpopular Essays|   Russell, Bertrand|philosophy|   198|         null|
|       Deceiver, The|  Forsyth, Frederick|   fiction|   178|         null|
|Veil: Secret Wars...|       Woodward, Bob|   history|   171|         null|
|         Char Shabda|      Deshpande, P L|nonfiction|   214|         null|
| Rosy is My Relative|     Durrell, Gerald|   fiction|   176|         null|
|Moon and Sixpence...|  Maugham, William S|   fiction|   180|         null|
|Political Philoso...|                null|philosophy|   162|         null|
|Short History of ...|          Wells, H G|   history|   197|         null|
|Trembling of a Le...|  Maugham, William S|   fiction|   205|         null|
+--------------------+--------------------+----------+------+-------------+
only showing top 20 rows